In [2]:

import pandas as pd
CONFIG_1 = {
    'user': 'neo_reports',
    'password': 'gh2uyti56hgk2h',
    'host': '92.38.186.22',
    'port': '3306',
    'raise_on_warnings': True
}
import warnings
import mysql.connector
connection = mysql.connector.connect(**CONFIG_1)
import datetime
warnings.filterwarnings("ignore")

In [17]:
with open('query_new\–ë–∞–ª–∞–Ω—Å—ã –∏ —ç–∫–≤–∏—Ç–∏ 2 –∑–∞–ø—Ä–æ—Å–∞ –Ω–µ–æ —ç–∫—Ç–∏–≤\Active\Active –±–∞–ª–∞–Ω—Å—ã.txt', mode='r', encoding='utf-8')  as f:
    data = f.read()

df = pd.read_sql_query(data, con=connection)


with open('query_new\–ë–∞–ª–∞–Ω—Å—ã –∏ —ç–∫–≤–∏—Ç–∏ 2 –∑–∞–ø—Ä–æ—Å–∞ –Ω–µ–æ —ç–∫—Ç–∏–≤\Active\Active —ç–∫–≤–∏—Ç–∏.txt', mode='r', encoding='utf-8')  as f:
    data = f.read()

df_2 = pd.read_sql_query(data, con=connection)
df_2

         Date  Start    Equity     BBOOK  ABOOK
0  2025-05-05      0  57290.25  57290.25    0.0

In [ ]:
from tabulate import tabulate
import telebot
import datetime

def send_summary_to_telegram(df, df_2, company=""):
    """
    –§–æ—Ä–º–∏—Ä—É–µ—Ç –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç —Å–≤–æ–¥–∫—É –ø–æ Balance –∏ Equity –ø–æ –±–ª–æ–∫–∞–º: Total, ABOOK, BBOOK.
    df ‚Äî Balance, df_2 ‚Äî Equity.
    """

    def format_number(n):
        return f"{int(n):,}".replace(",", "‚Äô") + " USD"

    def build_block(title, balance, equity):
        return (
            f'''\nüîπ *{title}*
Balance: {format_number(balance)}
Equity:  {format_number(equity)}'''
        )

    # –ò–∑–≤–ª–µ—á–µ–Ω–∏–µ –¥–∞—Ç—ã
    date = datetime.datetime.strftime(df.Date.iloc[0], '%d-%m-%Y')

    # –ì–µ–Ω–µ—Ä–∞—Ü–∏—è –±–ª–æ–∫–æ–≤
    block_1 = build_block(
        f"Total ({company})",
        df.Balance.iloc[0],
        df_2.Equity.iloc[0]
    )

    block_2 = build_block(
        f"ABOOK ({company})",
        df.ABOOK.iloc[0],
        df_2.ABOOK.iloc[0]
    )

    block_3 = build_block(
        f"BBOOK ({company})",
        df.BBOOK.iloc[0],
        df_2.BBOOK.iloc[0]
    )

    # –°–±–æ—Ä–∫–∞ —Å–æ–æ–±—â–µ–Ω–∏—è
    caption = f"*#PNL&Equityüìä*\nüìÖ {date}"
    summary = f"{caption}{block_1}{block_2}{block_3}"

    # –£—Å–µ—á–µ–Ω–∏–µ –ø–æ –ª–∏–º–∏—Ç—É Telegram
    if len(summary) > 4000:
        summary = summary[:3990] + "\n..."

    return summary

In [82]:
from tabulate import tabulate
import telebot

# 05-05-2025              Balance               Equity 
# Total             3‚Äô210‚Äô363 USD        3‚Äô105‚Äô176 USD 
# ABOOK             2‚Äô862‚Äô966 USD        2‚Äô805‚Äô253 USD 
# BBOOK               347‚Äô396 USD          299‚Äô923 USD



def send_summary_to_telegram(df, df_2, caption=None):
    """
    –§–æ—Ä–º–∏—Ä—É–µ—Ç –∏ –æ—Ç–ø—Ä–∞–≤–ª—è–µ—Ç —Å–≤–æ–¥–∫—É –≤ –æ–¥–Ω—É —Å—Ç—Ä–æ–∫—É –≤ Telegram:
    Balance –∏ Equity —Å —Ä–∞–∑–±–∏–≤–∫–æ–π –Ω–∞ ABOOK/BBOOK.
    df - balance
    df_2 - Equity
    """

    def format_number(n):
        return f"{int(n):,}".replace(",", "‚Äô") + " USD"

    # –ò–∑–≤–ª–µ–∫–∞–µ–º –∑–Ω–∞—á–µ–Ω–∏—è
    total_balance = format_number(df.Balance.iloc[0])
    abook_balance = format_number(df.ABOOK.iloc[0])
    bbook_balance = format_number(df.BBOOK.iloc[0])

    total_equity = format_number(df_2.Equity.iloc[0])
    abook_equity = format_number(df_2.ABOOK.iloc[0])
    bbook_equity = format_number(df_2.BBOOK.iloc[0])
    date = datetime.datetime.strftime(df.Date[0], '%d-%m-%Y')

    summary = f'''
#–ë–∞–ª–∞–Ω—Å
–î–∞—Ç–∞: {date}
Total: {total_balance} 
ABOOK: {abook_balance}
BBOOK: {bbook_balance}

#Equity
Total: {total_equity} 
ABOOK: {abook_equity} 
BBOOK: {bbook_equity} 
'''
    if caption:
        summary = f"*{caption}*\n{summary}"

    return summary

In [83]:
def read_sql(path: str):
    with open(path, mode='r', encoding='utf-8')  as f:
        data = f.read()
    return  pd.read_sql_query(data, con=connection)



def balance_and_E(broker: str):
    '–ü—Ä–∏–Ω–∏–º–∞–µ—Ç –Ω–∞ –≤—Ö–æ–¥ –Ω–∞–∑–≤–∞–Ω–∏–µ –ë—Ä–æ–∫–µ—Ä–∞(NEO, EKTIV) –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –≥–æ—Ç–æ–≤—É—é —Å—Ç—Ä–æ–∫—É'
    if broker == 'NEO':
        df_balance = read_sql('query_new\–ë–∞–ª–∞–Ω—Å—ã –∏ —ç–∫–≤–∏—Ç–∏ 2 –∑–∞–ø—Ä–æ—Å–∞ –Ω–µ–æ —ç–∫—Ç–∏–≤\–ù–ï–û\–ù–ï–û –ë–∞–ª–∞–Ω—Å—ã.txt')
        df_eq = read_sql('query_new\–ë–∞–ª–∞–Ω—Å—ã –∏ —ç–∫–≤–∏—Ç–∏ 2 –∑–∞–ø—Ä–æ—Å–∞ –Ω–µ–æ —ç–∫—Ç–∏–≤\–ù–ï–û\–ù–ï–û –≠–∫–≤–∏—Ç–∏.txt')
        return send_summary_to_telegram(df=df_balance, df_2=df_eq, caption='#PNL&Equityüìä')
    else:
        df_balance = read_sql('query_new\–ë–∞–ª–∞–Ω—Å—ã –∏ —ç–∫–≤–∏—Ç–∏ 2 –∑–∞–ø—Ä–æ—Å–∞ –Ω–µ–æ —ç–∫—Ç–∏–≤\Active\Active –±–∞–ª–∞–Ω—Å—ã.txt')
        df_eq = read_sql('query_new\–ë–∞–ª–∞–Ω—Å—ã –∏ —ç–∫–≤–∏—Ç–∏ 2 –∑–∞–ø—Ä–æ—Å–∞ –Ω–µ–æ —ç–∫—Ç–∏–≤\Active\Active —ç–∫–≤–∏—Ç–∏.txt')
        return send_summary_to_telegram(df=df_balance, df_2=df_eq, caption='#Balance&Equityüìä')

print(balance_and_E('NEO'))

*#PNL&Equityüìä*

#–ë–∞–ª–∞–Ω—Å
–î–∞—Ç–∞: 05-05-2025
Total: 3‚Äô210‚Äô363 USD
ABOOK: 2‚Äô862‚Äô966 USD
BBOOK: 347‚Äô396 USD

#Equity
Total: 3‚Äô105‚Äô176 USD
ABOOK: 2‚Äô805‚Äô253 USD
BBOOK: 299‚Äô923 USD

# PNL

In [84]:
def PNL_get(broker: str):
    '–ü—Ä–∏–Ω–∏–º–∞–µ—Ç –Ω–∞ –≤—Ö–æ–¥ –Ω–∞–∑–≤–∞–Ω–∏–µ –ë—Ä–æ–∫–µ—Ä–∞ (NEO, EKTIV) –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –≥–æ—Ç–æ–≤—É—é –æ–¥–Ω–æ—Å—Ç—Ä–æ—á–Ω—É—é —Å—Ç—Ä–æ–∫—É PNL'
    # Neo MU –∏–ª–∏ Active Broker
    if broker == 'NEO':
        company = 'Neo MU'
        df_1 = read_sql(r'query_new\–ü–ù–õ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏ –Ω–µ–æ —ç–∫—Ç–∏–≤\NEO\NEO –ê–ë–£–ö + –ë–ë–£–ö —á–∞—Å—Ç—å –±–µ–∑ –ø–∞—Ä—Ç–Ω—ë—Ä–æ–≤.txt')
        df_2 = read_sql(r'query_new\–ü–ù–õ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏ –Ω–µ–æ —ç–∫—Ç–∏–≤\NEO\NEO –ê–ë–£–ö —á–∞—Å—Ç—å.txt')
        df_3 = read_sql(r'query_new\–ü–ù–õ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏ –Ω–µ–æ —ç–∫—Ç–∏–≤\NEO\NEO –ë–ë–£–ö —á–∞—Å—Ç—å.txt')
    else:
        company = 'Active Broker'
        df_1 = read_sql(r'query_new\–ü–ù–õ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏ –Ω–µ–æ —ç–∫—Ç–∏–≤\Active\Active –ê–ë–£–ö + –ë–ë–£–ö —á–∞—Å—Ç—å –±–µ–∑ –ø–∞—Ä—Ç–Ω—ë—Ä–æ–≤.txt')
        df_2 = read_sql(r'query_new\–ü–ù–õ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏ –Ω–µ–æ —ç–∫—Ç–∏–≤\Active\Active –ê–ë–£–ö —á–∞—Å—Ç—å.txt')
        df_3 = read_sql(r'query_new\–ü–ù–õ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏ –Ω–µ–æ —ç–∫—Ç–∏–≤\Active\Active –ë–ë–£–ö —á–∞—Å—Ç—å.txt')

    def format_number(n):
        return f"{round(n):,}".replace(",", "‚Äô") + " USD"

    # –í—Å–ø–æ–º–æ–≥–∞—Ç–µ–ª—å–Ω–∞—è —Ñ—É–Ω–∫—Ü–∏—è –¥–ª—è –≥–µ–Ω–µ—Ä–∞—Ü–∏–∏ –±–ª–æ–∫–∞
    def build_block(title, today, yesterday, curr_week, past_week, curr_month):
        return (
            f'''\nüîπ *{title}* 
–°–µ–≥–æ–¥–Ω—è: {format_number(today)} 
–í—á–µ—Ä–∞: {format_number(yesterday)}
–¢–µ–∫. –Ω–µ–¥–µ–ª—è: {format_number(curr_week)}
–ü—Ä–µ–¥. –Ω–µ–¥–µ–ª—è: {format_number(past_week)}
–¢–µ–∫. –º–µ—Å—è—Ü: {format_number(curr_month)}''')
        

    # –ì–µ–Ω–µ—Ä–∞—Ü–∏—è –±–ª–æ–∫–æ–≤
    block_1 = build_block(
        f"ABOOK + BBOOK PL {company} (–±–µ–∑ –≤—ã–ø–ª–∞—Ç –ø–∞—Ä—Ç–Ω—ë—Ä–æ–≤)",
        df_1['PL_kompani_Bbok_Abook_Today'].iloc[0],
        df_1['PL_kompani_Bbok_Abook_YESTERDAY'].iloc[0],
        df_1['PL_kompani_Bbok_Abook_WEEK'].iloc[0],
        df_1['PL_kompani_Bbok_Abook_past_WEEK'].iloc[0],
        df_1['PL_kompani_Bbok_Abook_MONTH'].iloc[0]
    )

    block_2 = build_block(
        f"ABOOK PL {company}",
        df_2['Today'].iloc[0],
        df_2['Yesterday'].iloc[0],
        df_2['Current_Week'].iloc[0],
        df_2['past_Week'].iloc[0],
        df_2['Current_Month'].iloc[0]
    )

    block_3 = build_block(
        f"BBOOK PL {company}",
        df_3['PL_kompani_Bbok_Today'].iloc[0],
        df_3['PL_kompani_Bbok_YESTERDAY'].iloc[0],
        df_3['PL_kompani_Bbok_WEEK'].iloc[0],
        df_3['PL_kompani_past_WEEK'].iloc[0],
        df_3['PL_kompani_Bbok_MONTH'].iloc[0]
    )

    # –°–±–æ—Ä–∫–∞ –≤ –æ–¥–Ω—É —Å—Ç—Ä–æ–∫—É (Telegram-friendly)
    caption = "*#PNLüìà*"
    summary = f"{caption}{block_1}\n{block_2}\n{block_3}"

    # –£—Å–µ—á—ë–º, –µ—Å–ª–∏ –±–æ–ª—å—à–µ 4000 —Å–∏–º–≤–æ–ª–æ–≤
    if len(summary) > 4000:
        summary = summary[:3990] + "\n..."

    return summary
print(PNL_get('fdf'))

*#PNLüìà*
üîπ *ABOOK + BBOOK PL Active Broker (–±–µ–∑ –≤—ã–ø–ª–∞—Ç –ø–∞—Ä—Ç–Ω—ë—Ä–æ–≤)*
–°–µ–≥–æ–¥–Ω—è: 3‚Äô808 USD
–í—á–µ—Ä–∞: 0 USD
–¢–µ–∫. –Ω–µ–¥–µ–ª—è: 3‚Äô808 USD
–ü—Ä–µ–¥. –Ω–µ–¥–µ–ª—è: 2‚Äô342 USD
–¢–µ–∫. –º–µ—Å—è—Ü: 7‚Äô901 USD

üîπ *ABOOK PL Active Broker*
–°–µ–≥–æ–¥–Ω—è: 0 USD
–í—á–µ—Ä–∞: 0 USD
–¢–µ–∫. –Ω–µ–¥–µ–ª—è: 0 USD
–ü—Ä–µ–¥. –Ω–µ–¥–µ–ª—è: 0 USD
–¢–µ–∫. –º–µ—Å—è—Ü: 0 USD

üîπ *BBOOK PL Active Broker*
–°–µ–≥–æ–¥–Ω—è: 3‚Äô808 USD
–í—á–µ—Ä–∞: 0 USD
–¢–µ–∫. –Ω–µ–¥–µ–ª—è: 3‚Äô808 USD
–ü—Ä–µ–¥. –Ω–µ–¥–µ–ª—è: 2‚Äô342 USD
–¢–µ–∫. –º–µ—Å—è—Ü: 7‚Äô901 USD

In [76]:
from tabulate import tabulate
import telebot

# –£–∫–∞–∂–∏ —Å–≤–æ–π —Ç–æ–∫–µ–Ω –∏ chat_id
TELEGRAM_TOKEN = '7840597904:AAHrwP2adJsCLSg3myhTDEW-eJ4gtujG-UU'
CHAT_ID = "620211681"



bot = telebot.TeleBot(TELEGRAM_TOKEN)

bot.send_message(chat_id=CHAT_ID, text=res, parse_mode='Markdown')

def send_summary_to_telegram(df, df_2, caption=None):
    """
    –§–æ—Ä–º–∏—Ä—É–µ—Ç –∏ –æ—Ç–ø—Ä–∞–≤–ª—è–µ—Ç —Å–≤–æ–¥–∫—É –≤ –æ–¥–Ω—É —Å—Ç—Ä–æ–∫—É –≤ Telegram:
    Balance –∏ Equity —Å —Ä–∞–∑–±–∏–≤–∫–æ–π –Ω–∞ ABOOK/BBOOK.
    """

    def format_number(n):
        return f"{int(n):,}".replace(",", "‚Äô") + " USD"

    # –ò–∑–≤–ª–µ–∫–∞–µ–º –∑–Ω–∞—á–µ–Ω–∏—è
    total_balance = format_number(df.Balance.iloc[0])
    abook_balance = format_number(df.ABOOK.iloc[0])
    bbook_balance = format_number(df.BBOOK.iloc[0])

    total_equity = format_number(df_2.Equity.iloc[0])
    abook_equity = format_number(df_2.ABOOK.iloc[0])
    bbook_equity = format_number(df_2.BBOOK.iloc[0])
    date = datetime.datetime.strftime(df.Date[0], '%d-%m-%Y')
    # –ü–µ—á–∞—Ç–∞–µ–º –∫—Ä–∞—Å–∏–≤–æ –≤ –≤–∏–¥–µ –¥–≤—É—Ö –∫–æ–ª–æ–Ω–æ–∫
    s1 = (f"{date:<10} {'Balance':>20} {'Equity':>20} \n")
    s2 =(f"{'Total':<10} {total_balance:>20} {total_equity:>20} \n")
    s3 =(f"{'ABOOK':<10} {abook_balance:>20} {abook_equity:>20} \n")
    s4 =(f"{'BBOOK':<10} {bbook_balance:>20} {bbook_equity:>20} \n")

    summary = s1 + s2 + s3 + s4



    if caption:
        summary = f"*{caption}*\n{summary}"


    bot.send_message(chat_id=CHAT_ID, text=summary, parse_mode='Markdown')

# send_summary_to_telegram(df, df_2, caption='#PNL&Equityüìä')

In [77]:
len('–ü–µ—Ä–∏–æ–¥               –ê–ë–£–ö + –ë–ë–£–ö —á–∞—Å—Ç—å –±–µ–∑ –ø–∞—Ä—Ç–Ω—ë—Ä–æ–≤         ')

61