In [1]:
import pandas as pd
import quantstats as qs
import numpy as np

In [18]:
pd.__version__
# df = pd.read_excel(r'strata-Updated (2).xlsx')
df = pd.read_excel(r'C:\work_services\Reports_from_excel_very_important_bot\downloads\_______________Theta_.xlsx')
df.head()

        Дата    Баланс
0 2024-10-28  50000.00
1 2024-11-05  51500.00
2 2024-11-25  52500.00
3 2024-11-29  52487.64
4 2024-11-30  51749.23

In [15]:
df = pd.read_excel(r'C:\work_services\Reports_from_excel_very_important_bot\downloads\_______________Theta_.xlsx')
date, balanc = df.columns

df[date] = pd.to_datetime(df[date])
df.set_index(date, inplace=True)
df.head(20)

              Баланс
Дата
2024-10-28  50000.00
2024-11-05  51500.00
2024-11-25  52500.00
2024-11-29  52487.64
2024-11-30  51749.23
2024-12-04  51746.89
2024-12-04  51738.02
2024-12-04  51735.64
2024-12-04  51721.96
2024-12-05  51704.02
2024-12-05  52604.66
2024-12-05  52590.34
2024-12-05  52569.31
2024-12-05  52944.11
2024-12-05  54396.47
2024-12-05  56444.25
2024-12-05  56825.61
2024-12-05  56822.83
2024-12-05  56820.05
2024-12-05  56645.71

In [26]:
# df = pd.read_excel(r'strata-Updated (2).xlsx')

df = pd.read_excel(r'C:\work_services\Reports_from_excel_very_important_bot\downloads\_______________Theta_.xlsx')

df[date] = pd.to_datetime(df[date])
df.set_index(date, inplace=True)

# Вычислим доходность на основе изменения баланса
df['Доходность'] = round(df[balanc].pct_change(), 2)

# Удаляем строки с NaN в доходности
returns = df['Доходность'].dropna()

# ================================
# date, balanc = df.columns

# df[date] = pd.to_datetime(df[date])
# df.set_index(date, inplace=True)

# # Вычислим доходность на основе изменения баланса
# df['Доходность'] = df[balanc].pct_change()

# # Удаляем строки с NaN в доходности
# returns = df['Доходность'].dropna()

returns

Дата
2024-11-05    0.03
2024-11-25    0.02
2024-11-29   -0.00
2024-11-30   -0.01
2024-12-04   -0.00
              ...
2025-06-24   -0.00
2025-06-25   -0.00
2025-06-25    0.01
2025-06-25   -0.00
2025-06-26   -0.00
Name: Доходность, Length: 420, dtype: float64

In [27]:
# (benchmark can be a pandas Series or ticker)
qs.reports.html(returns, output="quantstats_report.html")

In [ ]:
def get_report(path:str):
    df = pd.read_excel(path)
    date, balanc = df.columns

    df[date] = pd.to_datetime(df["Дата"])
    df.set_index(date, inplace=True)

    # Вычислим доходность на основе изменения баланса
    df['Доходность'] = df[balanc].pct_change()

    # Удаляем строки с NaN в доходности
    returns = df['Доходность'].dropna()

    # (benchmark can be a pandas Series or ticker)
    qs.reports.html(returns, output="quantstats_report.html")

get_report()